body {
  background-color: #fdd14f;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: #ef5f9a;
}

.app-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.app-logo {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}
